.card {
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
    &-american-standard{
        width: 215px;
        height: 322px;
    }
    &-american-mini {
        width: 150px;
        height: 235px;
    }
}